<button type="button" mdbWavesEffect mdbBtn color="black" (click)="toggle()">My cart
  <i class="fas fa-shopping-cart mb-3 animated rotateIn"></i></button>

<div [@openClose]="isOpen ? 'open' : 'closed'" class="open-close-container">
  <div class="modal-dialog modal-full-height modal-left modal-notify modal-info" role="document">
    <div class="modal-content">
      <!--Header-->
      <div class="modal-header">
        <p class="heading lead">Your cart.
        </p>

        <button type="button" class="close" aria-label="Close" (click)="toggle()">
          <span aria-hidden="true" class="white-text">×</span>
        </button>
      </div>

      <!--Body-->
      <div class="modal-body">
        <div class="text-center">
          <i class="far fa-file-alt fa-4x mb-3 animated rotateIn"></i>
          <p>
            <strong>Your opinion matters</strong>
          </p>
          <p>Have some ideas how to improve our product?
            <strong>Give us your feedback.</strong>
          </p>
        </div>

        <hr>

        <!-- Radio -->
        <p class="text-center">
          <strong>Your rating</strong>
        </p>
        <div class="form-check mb-4" *ngFor="let item of (currentCart?.items) let i = index">
          quantity:  <a mat-list-item routerLink='/{{item.productsId}}'>{{item.quantity}}</a>
          totalPrice:  <a mat-list-item routerLink='/{{item.productsId}}'>{{item.totalPrice}}</a>
          <button type="button" class="close" aria-label="Close" (click)="deleteItem(item._id)">
            <span aria-hidden="true" class="white-red">DELETE</span>
          </button>
        </div>

      </div>

      <!--Footer-->
      <div class="modal-footer justify-content-center">
        <a type="button" class="btn btn-primary waves-effect waves-light">Send
          <i class="fa fa-paper-plane ml-1"></i>
        </a>
        <a type="button" class="btn btn-outline-primary waves-effect" data-dismiss="modal" (click)="toggle()">Cancel</a>
      </div>
    </div>
  </div>
</div>
