<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="../../../assets/ultraLife/{{product.image}}.jpg" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">{{product.name}}</h5>
    <p class="card-text">{{product.description}}</p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item card-link">Price: {{product.price}}</li>
  </ul>
  <div class="card-footer">
    <button type="button" mdbBtn color="default" rounded="true" data-toggle="modal" data-target="#basicExample"
            (click)="show(product)" mdbWavesEffect>Add to Cart</button>
  </div>
</div>
